.promo-image {
  max-width: 100%;
}

.information-group {
  border: 1px solid #7d5b73;
  display: inline-block;
  padding: 18px;
  border-radius: 10px;
  margin: 10px 10px 10px 0;

  @media screen and (max-width: 900px) {
    width: 100%;
    margin: 0 0 10px 0;
  }

  .flag-icon {
    margin-right: 10px;
  }
}
