.react-tabs__tab-panel {
  min-height: 500px;
  border: 1px solid #ccc;
  border-top: 0;
  padding: 20px 25px;
  border-radius: 0 0 5px 5px;
}

.react-tabs__tab-list {
  margin-bottom: 0 !important;
}

.react-tabs__tab {
  background-color: #0202023d;
}

.react-tabs {
  margin-top: 15px;
}
