$highlighted-link: #efc94c;

$calendar-primary-background-color: #ff726b;
$calendar-secondary-background-color: #efc94c;
$calendar-tertiary-background-color: #3498db;

$code-drop-lightblue: #47a3da;
$code-drop-link: #4d50c3;

$body-background-color: #333;

$scheme1-primary-color: #8b07a2;
$scheme1-secondary-color: #fff;

$scheme2-primary-color: #E2C86E;
$scheme2-secondary-color: #73B4AA;

$collapsible-conference-background-color: #3d234a8c;
